In [2]:
import pandas as pd
import numpy as np

In [36]:
features = pd.read_csv('data/features.csv')
patient_notes = pd.read_csv('data/patient_notes.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')
test = pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')

### Features:
There are 143 features nrs. But 
Each feature

In [53]:
display(features.head())
for i in range(7):
    print(features['feature_text'][i])

print('\n\nlen(features):', len(features))
print('unique feature_text', len(features.feature_text.unique()))
print('Repeated features:', features.loc[features.feature_text.duplicated()].feature_text.unique())

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

Family-history-of-MI-OR-Family-history-of-myocardial-infarction
Family-history-of-thyroid-disorder
Chest-pressure
Intermittent-symptoms
Lightheaded
No-hair-changes-OR-no-nail-changes-OR-no-temperature-intolerance
Adderall-use


len(features): 143
unique feature_text 131
Repeated features: ['Female' 'Male' '17-year' '35-year' '20-year' 'Nausea']

### Patient notes:

In [64]:
display(patient_notes.head())

print('\n\nlen(patient_notes):', len(patient_notes))
print('unique pn_history', len(patient_notes.pn_history.unique()))
print('unique pn_num', len(patient_notes.pn_num.unique()))
print('Is every pair pn_num, case_num unique?')
print('case_num uniquness:')
display(patient_notes.groupby("case_num").size())

for i in range(3):
    print('\n\n\n\n', patient_notes['pn_history'][i])

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

len(patient_notes): 42146
unique pn_history 42146
unique pn_num 42146
Is every pair pn_num, case_num unique?
case_num uniquness:

case_num
0    2268
1     808
2    1958
3    9753
4    5405
5    6909
6    1597
7    4101
8    4196
9    5151
dtype: int64

 17-year-old male, has come to the student health clinic complaining of heart pounding. Mr. Cleveland's mother has given verbal consent for a history, physical examination, and treatment
-began 2-3 months ago,sudden,intermittent for 2 days(lasting 3-4 min),worsening,non-allev/aggrav
-associated with dispnea on exersion and rest,stressed out about school
-reports fe feels like his heart is jumping out of his chest
-ros:denies chest pain,dyaphoresis,wt loss,chills,fever,nausea,vomiting,pedal edeam
-pmh:non,meds :aderol (from a friend),nkda
-fh:father had MI recently,mother has thyroid dz
-sh:non-smoker,mariguana 5-6 months ago,3 beers on the weekend, basketball at school
-sh:no std




 17 yo male with recurrent palpitations for the past 3 mo lasting about 3 - 4 min, it happened about 5 - 6 times since the beginning. One time durign a baskeball game two days ago light headedness, pressure in the chest, catching breath, but no fainting. During teh episodes no sweating. No diarrhea, no heat intolerance, no weight loss. Has tried aterol to be able to better concentrate, has received it from his roommate. .




 Dillon Cleveland is a 17 y.o. male patient with no significant PMH who presents with complaints of heart pounding. This has been going on for a few months and happens once or twice a month. He cannot think of any triggers, and it has occurred both with activity and at rest. Occasionally, it is accompanied by chest pressure but not pain that is located at the center of his chest. On one instance, he experienced chest pressure, lightheadedness and shortness of breath for 10 minutes with the heart pounding.

Otherwise, he has not had shortness of breath, chest pain, anxiety,

Medication: adderall twice a week as study aid (not prescribed)
FH: mother - thyroid disease, father - heart attack at age 52, both living
SH: no smoking; 3-4 drinks on the weekend per sitting; marijuanna once recently, no other recreational drugs

### Test:

In [26]:
display(test.head())

          id  case_num  pn_num  feature_num
0  00016_000         0      16            0
1  00016_001         0      16            1
2  00016_002         0      16            2
3  00016_003         0      16            3
4  00016_004         0      16            4

### Train:

In [67]:
display(train.head())
print("len(train)", len(train))
print("len(train.case_num.unique())", len(train.case_num.unique()))
print(len(train.pn_num.unique()), "len(train.pn_num.unique())")

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

len(train) 14300
len(train.case_num.unique()) 10
1000 len(train.pn_num.unique())

### Competition explenation:


9 `patients`
Each patient has some features (aka problems they had) - x features

Given a not of a patient's case, your model should get features
Then you need to check how close your feature predictions was compared to real predictions - and that's your loss function

### Submission file example:

In [72]:
display(sample_submission.head())
example_answer = sample_submission['location'][2]
print(example_answer)
print(type(example_answer))

          id         location
0  00016_000            0 100
1  00016_001              NaN
2  00016_002  200 250;300 400
3  00016_003              NaN
4  00016_004           75 110

200 250;300 400
<class 'str'>